
  
  #ab {
    color:white;
    margin-left: 20px;
    background-color: rgb(122, 19, 126);
    text-align: center;
  }
  #aa{
    color:rgb(179, 25, 184)
  }
  #bb{
    background-color:rgb(247, 229, 247)
  }
  #cc{
    background-color: rgb(243, 194, 243);
  }