.bell{
    width:25px;
    height:25px;
}
.aaa{
  
   
}
.aa{
    margin-right: 1000px;
}

.slide1{
   background: linear-gradient(130deg,#0085ca 0,#0085ca 30%,#78be20 100%);
    
    height: 500px;
}